{% extends 'products/product.html' %}
{% load static %}

{% block link %}
    {% if product_paid and check_not_review %}
    <div>
        <a class="write-comment_visible" onclick="write_comment()" id="open-write">Написать отзыв</a>
        <a class="write-comment_hidden" onclick="close_write_comment()" id="close-write">Скрыть</a>
    </div>
    {% else %}
    <div>
        <a id="open-write" href="#comments" class="selected_link">Просмотреть отзывы</a>
    </div>
    {% endif %}
    <div>
        <a href="{% url 'product_comments' product.slug %}">Комментарии</a>
    </div>
{% endblock %}

{% block review %}
    {% for i in reviews %}
    <div class="product_case" id="comments">
            <div class="comment-block">
                <div class="comments__header">
                    <div class="profile_image" style="display: flex; flex-direction: row; align-items: center; gap: 10px">
                    {% if i.user.user_profile.profile_img %}
                        <img src="{{ i.user.user_profile.profile_img.url }}" alt="">
                    {% else %}
                        <i class="fa-solid fa-user" style=" font-size: 35px"></i>
                    {% endif %}
                    {% if i.user.first_name or i.user.last_name %}
                        <p>{{ i.user.first_name }} {{ i.user.last_name }}</p>
                    {% else %}
                        <p>{{ i.user }}</p>
                    {% endif %}
                    {% if i.user.id == user.id %}
                        <form action="{% url 'delete_review' i.id %}">
                            <button type="submit" class="delete-write"><i class="fa-solid fa-trash" style="margin: 0 10px 0 20px"></i></button>
                        </form>
                        <div>
                            <a href="#popup_change{{ i.id }}" class="popup-link"><i class="fa-solid fa-pen"></i></a>
                        </div>
                    {% endif %}
                    </div>
                    <div class="date-message">
                        {{ i.date_created|date }}
                        <p>BestFlowers</p>
                    </div>
                </div>
                <div class="comments_name">
                    {{ i.name }}
                </div>
                <div class="comments__body">
                    {{ i.text }}
                </div>
            </div>
            <div id="popup_change{{ i.id }}" class="popup">
                <div class="popup__body">
                <form method="POST" action="{% url 'change_review' product.id i.id %}">
                    <div class="popup__content">
                        <div class="modal-container__signin" style="gap: 10px; padding: 30px 50px">
                            <div class="modal-signin">
                                <a href="" class="popup-link modal-signin-selected">Изменение отзыва</a>
                            </div>
                            <div class="modal-inputs__signin" style="gap: 10px">
                            {% csrf_token %}
                                <label for="name">Заголовок</label>
                                <input id="name" type="text" required="" name='name' style="border: none;
                                border-bottom: 1px solid black">
                            </div>
                            <div style="display: flex; flex-direction: column; gap: 5px">
                                <label for="text">Описание</label>
                                <textarea id="text" required="" name="text" style="border-color: rgba(1,1,1, 0.45);
                                border-radius: 10px; width: 100%; max-height: 300px; min-height: 80px"></textarea>
                            </div>
                            <button class="btn-catalog" type="submit" style="width: 150px">Отправить</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
    </div>
    {% endfor %}
{% endblock %}